  <div class="container mt-3">
    <div class="row mt-3">
      <div class="col-lg-10 offset-lg-1">
        <div class="card">
          <div class="card-body text-center">
            <div *ngIf="loading" class="d-flex justify-content-center mt-3">
              <app-spinner></app-spinner>
            </div>
            <table *ngIf="!loading" class="table">
              <thead>
                <tr>
                  <th style="width: 15%">Destinatario</th>
                  <th style="width: 15%">Fecha</th>
                  <th style="width: 70%">Mensaje</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let memo of memos">
                  <td class="text-end"><span class="badge bg-black">{{ memo.destinatario }}</span></td>
                  <td>{{ memo.fecha_hora.slice(0, 10) }}</td>
                  <td class="text-start">{{ memo.mensaje }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

