  <div class="container mt-3">
    <div class="row mt-3">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 15%">Destinatario</th>
                  <th style="width: 15%">Fecha</th>
                  <th style="width: 70%">Mensaje</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let memo of memos">
                  <td><span class="badge bg-black">{{ memo.destinatario }}</span></td>
                  <td>{{ memo.fecha_hora.slice(0, 10) }}</td>
                  <td>{{ memo.mensaje }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

