<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center title">Resetear Contraseña</h2>
          <form [formGroup]="recoverForm" (ngSubmit)="resetPassword()">
            <div class="mb-3">
              <input type="text" formControlName="username" class="form-control form-control-lg" placeholder="Nombre de Usuario">
              <span class="text-danger"
                *ngIf="recoverForm.get('username')?.hasError('required') && recoverForm.get('username')?.touched">
                Este campo es <strong>obligatorio!</strong>
              </span>
              <span class="text-danger"
                *ngIf="recoverForm.get('username')?.hasError('minlength') && recoverForm.get('username')?.touched">
                En nombre de usuario debe tener <strong>como mínimo 6 caracteres alfanuméricos</strong>
              </span>
            </div>
            <div class="mb-3">
              <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="E-mail de la Empresa">
              <span class="text-danger"
                *ngIf="recoverForm.get('email')?.hasError('required') && recoverForm.get('email')?.touched">
                Este campo es <strong>obligatorio!</strong>
              </span>
              <span class="text-danger"
                *ngIf="recoverForm.get('email')?.hasError('email') && recoverForm.get('email')?.touched">
                Este formato de correo es <strong>invalido</strong>
              </span>
            </div>
            <div class="d-grid gap-2-col-6 mx-auto">
              <button type="submit" [disabled]="recoverForm.invalid" class="btn btn-primary btn-lg">Resetear Contraseña</button>
            </div>
          </form>
          <div *ngIf="loading" class="d-flex justify-content-center mt-3">
            <app-spinner></app-spinner>
          </div>
          <div *ngIf="!loading" class="text-center">
            <div class="mt-3">
              <button routerLink="/" class="btn btn-secondary">Volver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


